# PyInstaller build directories
dist/
build/
runs/
my_dataset/

# Python cache directories
__pycache__/
*.pyc
10.4 (onthefloor)/installer/WhiffleTrackerSetup.exe
10.4 (onthefloor)/WhiffleTracker.spec
