/__pycache__
/captured_frames
/dataset
/runs
/game.build
/game.dist
/game.onefile-build
/upx
/venv
/build
/dist
/installer
/include for dist
/legacytrainingdata
/packagedforinstall
/archive
/Output
/UPX
/upx
/high_score_proof
upx.exe